.main{
    max-height: 80%;
    overflow-y: scroll;
}
h1 {
    text-align: center
}

input{
    border:2px solid black;
    text-align: center;
    height:36px;
    border-radius:8px;
    margin-left:37%
}
button {
    margin-left: 2px
}

table {

    margin: auto;
    width: 50% !important;
}